h1{
    color: red;
    background-color: pink;
    margin-left: 20px;
    border-radius: 10px;
}
button{
    background-color: yellow;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    
}